.message { color: green; text-align: center; }
.error { color: #ff1f11; text-align: left }
.linkOnMain{
    color: yellowgreen;
    text-align: center;
    display: block;
    margin:0 auto;
    width:600px;
    font-size: 20;
}

.column_caption{
    color: black;
    text-align: center;
    font-size: 14;
    font-style: oblique;
}